.webgl-content * {border: 0; margin: 0; padding: 0}
.webgl-content {top: 0; left: 0;}

.webgl-content .logo, .progress {position: absolute; left: 50%; top: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%);}
.webgl-content .logo {background: url('unity-logo-light.png') no-repeat center / contain; width: 128px; height: 92px;}
.webgl-content .progress {height: 18px; width: 256px; margin-top: 90px;}
.webgl-content .progress .empty {background: url('progress-bar-empty-light.png') no-repeat right / cover; float: right; width: 100%; height: 100%; display: inline-block;}
.webgl-content .progress .full {background: url('progress-bar-full-light.png') no-repeat left / cover; float: left; width: 0%; height: 100%; display: inline-block;}

.webgl-content .logo.Dark {background-image: url('unity-logo-dark.png');}
.webgl-content .progress.Dark .empty {background-image: url('progress-bar-empty-dark.png');}
.webgl-content .progress.Dark .full {background-image: url('progress-bar-full-dark.png');}

.webgl-content .footer {margin-top: 5px; height: 38px; line-height: 38px; font-family: Helvetica, Verdana, Arial, sans-serif; font-size: 18px;} 
.webgl-content .footer .webgl-logo, .title, .fullscreen {height: 100%; display: inline-block; background: transparent center no-repeat;} 
.webgl-content .footer .webgl-logo {background-image: url('webgl-logo.png'); width: 204px; float: left;}
.webgl-content .footer .title {margin-right: 10px; float: right;}
.webgl-content .footer .fullscreen {background-image: url('fullscreen.png'); width: 38px; float: right;}

body, html{
    margin:0;
    padding:0;
}

#gameContainer canvas{
    position:absolute;
    transform:translate(-50%, -50%);
    top:50%;
    left:50%;

}

.simmer{
    position:absolute;
    bottom:10px;
    right:10px;
    color:#aaa;
    font-size:9px;
    font-family:sans-serif;
    font-family:sans-serif;

    /*want to remove the simmer branding? uncomment display:none below!*/
    display:none;
}

.simmer a{
    color:#cccccc;
    text-decoration:none;
    font-size:12px;
    transition:opacity 3s;

}

.simmer a:hover{
    color:#fff;
    text-decoration:underline;
}

.simmer.hide {
    opacity:0;
}




/* .unity-container * {border: 0; margin: 0; padding: 0}
.unity-container {top: 0; left: 0;}
#unity-container canvas{ position:absolute; transform:translate(-50%, -50%); top:50%; left:50%; }
#unity-container.unity-desktop { left: 50%; top: 50%; transform: translate(-50%, -50%) }
#unity-container.unity-mobile { width: 100%; height: 100% }
#unity-canvas { background: #000000 }
.unity-mobile #unity-canvas { width: 100%; height: 100% }
#unity-loading-bar { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); display: none }
#unity-logo { width: 128px; height: 128px; background: url('unity-logo-dark.png') no-repeat left bottom }
#unity-progress-bar-empty { width: 256px; height: 18px; margin-top: 10px; background: url('progress-bar-empty-dark.png') no-repeat left bottom }
#unity-progress-bar-full { width: 256px; height: 18px; margin-top: 10px; background: url('progress-bar-full-dark.png') no-repeat left bottom }
#unity-footer { position: relative }
.unity-mobile #unity-footer { display: none }
#unity-webgl-logo { float:left; width: 204px; height: 38px; background: url('webgl-logo.png') no-repeat center }
#unity-build-title { float: right; margin-right: 10px; line-height: 38px; font-family: arial; font-size: 18px }
#unity-fullscreen-button { float: right; width: 38px; height: 38px; background: url('fullscreen-button.png') no-repeat center }
#unity-warning { position: absolute; left: 50%; top: 5%; transform: translate(-50%); background: white; padding: 10px; display: none } */
